:root {
	--cell-size: 32px;
	--cell-offset: -32px;
	--url-terrain-TL: url("../assets/terrain/terrain_TL.png");
	--url-terrain-TC: url("../assets/terrain/terrain_TC.png");
	--url-terrain-TR: url("../assets/terrain/terrain_TR.png");
	--url-terrain-CL: url("../assets/terrain/terrain_CL.png");
	--url-terrain-CC: url("../assets/terrain/terrain_CC.png");
	--url-terrain-CR: url("../assets/terrain/terrain_CR.png");
	--url-terrain-BL: url("../assets/terrain/terrain_BL.png");
	--url-terrain-BC: url("../assets/terrain/terrain_BC.png");
	--url-terrain-BR: url("../assets/terrain/terrain_BR.png");
}

body {
	min-width: 860px;
	background-color: #b88751;
}

* {
	box-sizing: border-box;
}

.app-text-center {
	text-align: center;
}

.app-flex {
	display: flex;
	justify-content: center;
}

.app-grid-container {
	margin-left: 20px;
	margin-right: 20px;
}

.app-grid-cell {
	position: relative;
	height: var(--cell-size);
	width: var(--cell-size);
	border: 1px solid #62351c;
	vertical-align: middle;
	text-align: center;

	color: black;
	font-weight: bold;
	text-shadow: 0 0 15px white;

	background-color: #b88751;
	background-size: cover;
}

.app-shot {
	font-size: 80%;
	margin: 20%;

	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 3;

  position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	border-radius: var(--cell-size);
}

.app-shot-hit {
	background-color: rgba(255, 0, 0, 0.75);
}

.app-shot-failed {
	background-color: rgba(0, 0, 0, 0.5);
}

.app-shot-selected {
	background-color: red;
	
	font-size: 80%;
	margin: 20%;

	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 3;

  position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.app-ship {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 2;
}

.app-ship-part {
	position: absolute;
	top: var(--cell-size);
	right: 0;
	bottom: var(--cell-offset);
	left: 0;
	z-index: 2;
}

.app-ship-active {
	z-index: 3;
}

.app-ship.app-ship-active {
	background-color: goldenrod;
}

.app-ship-active * {
	background-color: indigo;
}

.app-ship-forbidden {
	background-color: red !important;
}

.app-grid-frame {
	border: 0;
}

.app-grid-terrain-TL {
	background-image: var(--url-terrain-TL);
}

.app-grid-terrain-TC {
	background-image: var(--url-terrain-TC);
}

.app-grid-terrain-TR {
	background-image: var(--url-terrain-TR);
}

.app-grid-terrain-CL {
	background-image: var(--url-terrain-CL);
}

.app-grid-terrain-CC {
	background-image: var(--url-terrain-CC);
}

.app-grid-terrain-CR {
	background-image: var(--url-terrain-CR);
}

.app-grid-terrain-BL {
	background-image: var(--url-terrain-BL);
}

.app-grid-terrain-BC {
	background-image: var(--url-terrain-BC);
}

.app-grid-terrain-BR {
	background-image: var(--url-terrain-BR);
}

.app-ship-front {
	background-image: url("../assets/ships/Ship_Front.png");
	background-size: cover;
}

.app-ship-mid {
	background-image: url("../assets/ships/Ship_Mid.png");
	background-size: cover;
}

.app-ship-back {
	background-image: url("../assets/ships/Ship_Back.png");
	background-size: cover;
}

.app-ship-up {
	transform: rotate(0deg);
}

.app-ship-right {
	transform: rotate(90deg);
}

.app-ship-down {
	transform: rotate(180deg);
}

.app-ship-left {
	transform: rotate(270deg);
}
